img.imageArea {
    height: 64vh;
    width: 100%;
    object-fit: cover;
}
.MuiGrid-container {
    height: 64vh;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.boxShadow-Content{
  background-color: lightgray;
  height: 64vh;
}